* {
    margin: 0;
    padding: 0;
    /*обнуление всех стилей на странице*/
}
body {
    position: relative;
    background-color: #404040;

}
.wrapper {
    position: relative;
    margin: 0 auto;
    background: url(../images/background.png);
    width: 960px;
    height: 883px;
}
header {
/*    border: 1px solid #3911bf;*/
	position: relative;
	height: 207px;
	font-family: Tahoma, Arial, sans-serif;
    color: #e6e6e6;
    font-size: 10px;
    font-weight: bold;

}
.palm{
/*	border: 1px solid #e217ea;*/
	position: absolute;
	width: 125px;
	top: 57px;
	left: 212px;	
}
.logo {
/*    border: 1px solid #50060e;*/
	position: absolute;
	top: 132px;
	left: 71px;
	text-align: center;
}
.contacts-box {
/*    border: 1px solid #50060e;*/
    float: right;
    margin-top: 152px;
    margin-right: 88px;
}
.contact {
    color: #e6e6e6;
    font: bold 10px Tahoma;
}
.number {
    color: #e6e6e6;
    font: 8px Tahoma;
    margin-top: 5px;
}
.e-mail {
    color: #e6e6e6;
    font: 9px Tahoma;
}
/*CONTENT*/

article {
/*    border: 1px solid #11bfb2;*/
	position: relative;
/*    margin: 0 0 183px;*/
    width: 100%;
    height: 544px;
    text-align: center;
}
.box {
/*	border: 1px solid rgb(211, 239, 62);*/
	padding-left: 13px;
	
}
.block {
	display: inline-block;
	margin: 0 13px 58px 0;

	
}
.box img {
    width: 100%;
    border: 2px solid #aaaaaa;
	border-radius: 2px;
	
}

.anons:hover img {
    transform: scale(1.15) rotate(2deg);
    transition: transform 2s;
	color: crimson;
    border-color: orangered;
	box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.49)
}
.anons_midl:hover img {
    transform: scale(1.15);
    transition: transform 2s;
    border-color: orangered;
	box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.49)
}
.anons_right:hover img {
    transform: scale(1.15) rotate(-2deg);
    transition: transform 2s;
    border-color: orangered;
	box-shadow: inset 0px 0px 30px 5px rgba(0,0,0,0.49)
}
	
.block a {
	text-decoration: none;
}

.block h3 {
	color: aliceblue;
	margin-top: 5px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 15px;
}
.block h3:hover {
	text-decoration: underline;
	color: crimson;
}

/*FOOTER*/

footer {
/*    border: 1px solid #3911bf;*/
	position: absolute;
	width: 100%;
	bottom: 30px;
}
.copyright {
/*    margin-bottom: 31px;*/
    text-align: center;
    color: #e6e6e6;
    font: 400 11px Tahoma;
}