<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lesson 13_14</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="js/template.js"></script> 
    <script src="js/script.js"></script>
    </head>
<body>
    <script type = "text/template" id = "test">
    <div class="main">
        <div class="wrapper">
            <h1 class="testTitle">Веселый тест</h1>
            <form method="#" action="#">
                    <% for (var i =0; i<data.length; i++) { %>
                        <div class="answersBlock box<%=i%>">
                            <div class="questionTitle"><span><%=data[i].question%></span></div>
                            <% for (var k =0; k<data[i].answer.length; k++) { %>
                                <label class="answer"><input type="checkbox" class="checkbox" value="<%=data[i].answer[k]%>"><span><%=data[i].answer[k]%></span></label>
                            <%}; %> 
                        </div>
                    <%};%>
                <input type="submit" value="Проверить мои результаты">
            </form>
        </div>
        </div>
    </script>
</body>
</html>
