
.base {
	/*	min-height: 1620px;*/
	margin-top: 15px;
	margin-bottom: 50px;
//	background-color: #fffeee;
//	border-top: 1px dashed #ccc;
//	border-bottom: 1px dashed #ccc;
}
.columns {
//	overflow: hidden;
	width: 100%;
	position: relative;
	z-index: 0;
}

.column {
	position: relative;
	min-height: 482px;
	overflow: hidden;
//	padding: 10px;
	/* CSS3 Box sizing property */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	/* CSS3 transition */
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	img {
		float: left;
		margin: 0 10px 10px 0;
	}
}

#left {
	float: left;
	overflow: visible;
	width: 20%;
	margin-right: 1%;
	padding: 0px;
	background-color: #fff;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	line-height: 40px;
	text-decoration: none;
//	background-color: #C8FC98;
//	border-right: 1px dashed #ccc;
		text-align: center;
	.sideGalleryBlock {
		padding-bottom: 20px;
		border-bottom: 1px solid #ddd;

//		font-size:0; /* убираем горизонтальные отступы */
		line-height:0; /* ...и вертикальные в некоторых браузерах */
		letter-spacing:-1px;
		a {
			display: inline-block;
			color: #248CEC;

			line-height:normal;
			letter-spacing:normal;
			display: -moz-inline-stack!important;
			display:inline-block;
			img{
				display: inline-block;
				margin: 0;
				padding: 5%;
				vertical-align:bottom;
			}

		}
		p {
//			line-height: 0px;
//			margin-top: -20px;


			a {
				line-height: 15px;

			}
		}
	}
}
.holiday {
	display: block;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.view-banner-block {
	margin:20px 0;

}
.view-banner-block a{
	display: block;
	width: 100%;
	height: 60px;
}
.view-banner-block a img{
	display: block;
	width: 100%;
	margin: 0;
}
#right {
	float: right;
	margin-left: 1%;
	width: 20%;
	padding: 0;
	background-color: #fff;
//	border-left: 1px dashed #ccc;
}

#center {
	position: relative;
	margin: 0 21%;
	background-color: #fff;
}
#metaWeatherContainer{
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;

}
#metaWeatherInformer{
	margin: 0 auto;
	width: 150px;
	a{
		display: block;

		&:nth-child(3) {
			display: none;
		}
	}
}


/*-------------------------------------variants-------------------------------------*/

/* вариант 1 */

#var1:target ~ .columns {
	#left, #right {
		width: 25%;
	}
	#center {
		margin: 0 25%;
	}
}
