
.base {
	/*	min-height: 1620px;*/
	margin-top: 5px;
	margin-bottom: 50px;
}
.columns {
	width: 100%;
	position: relative;
	z-index: 0;
}

.column {
	position: relative;
	overflow: hidden;

	/* CSS3 Box sizing property */
	-o-box-sizing: border-box;
	box-sizing: border-box;
	/* CSS3 transition */
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	img {
		float: left;
		margin: 0 10px 10px 0;
	}
}

#left {
	float: left;
	overflow: visible;
	width: 20%;
	padding: 0px;
	-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
			order: 1;
	background-color: #fff;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	line-height: 40px;
	text-decoration: none;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	border-right: 1px dashed #ccc;
	text-align: center;
	.sideGalleryBlock {
		padding-bottom: 20px;
		border-bottom: 1px solid #ddd;

//		font-size:0; /* убираем горизонтальные отступы */
		line-height:0; /* ...и вертикальные в некоторых браузерах */
		letter-spacing:-1px;
		a {
			display: inline-block;
			color: #248CEC;

			line-height:normal;
			letter-spacing:normal;
			display:inline-block;
			img{
				display: inline-block;
				margin: 0;
				padding: 5%;
				vertical-align:bottom;
			}

		}
		p {
//			line-height: 0px;
//			margin-top: -20px;


			a {
				line-height: 15px;

			}
		}
	}
}
.holiday {
	display: block;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.view-banner-block {
	margin:20px 0;

}
.view-banner-block a{
	display: block;
	width: 100%;
	height: 60px;
}
.view-banner-block a img{
	display: block;
	width: 100%;
	margin: 0;
}
#right {
	float: right;
	width: 20%;
	padding: 0;
	background-color: #fff;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	border-left: 1px dashed #ccc;
	-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
			order: 3;
}

#center {
	position: relative;
	width: 58%;
	margin: 0 1%;
	-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
			order: 2;
	background-color: #fff;
	border: 1px dashed #ccc;

}

.gsInformer{
	margin: 0 auto;
	padding-bottom: 20px;
}
#minfin-informer-m1Fn-currency{
	padding-left: 10px;
	padding-right: 10px;
}


/*-------------------------------------variants-------------------------------------*/

/* вариант 1 */

#var1:target ~ .columns {
	#left, #right {
		width: 25%;
	}
	#center {
		margin: 0 25%;
	}
}
.flex-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
		-ms-flex-direction:row;
			flex-direction:row;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
}
#page-preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #EB9532;
	z-index: 100500;
}

#page-preloader .spinner {
	width: 120px;
	height: 120px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: url('../img/ajax-loader.gif') no-repeat 50% 50%;
	margin: -60px 0 0 -60px;
}
