#amazingcarousel-container-1{
	position: fixed;
	width: 1024px;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 200;

	padding: 0 0 15px 0;
	.amazingcarousel-next,
	.amazingcarousel-prev {
		top: 50%;
	}
	.amazingcarousel-image img {
		box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
		-moz-box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
		-webkit-box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);


		&:hover img{
	}

	}
	.amazingcarousel-text{
		margin-top: 10px;

		cite{
			display: inline-block;
			padding: 5px;
			color: #046496;
			border-radius: 5px;
			background: #F3D890 url('../img/patern/stone1.png') repeat;

		}

	}
}
#amazingcarousel-1{
	max-width: 1024px !important;
	background: rgb(69, 176, 232) url('../img/patern/stone1.png') repeat;
	.amazingcarousel-nav{
		background-color: rgba(41, 37, 34, 0.9);

	}
}
