
.informers-layout {
	margin-top: 0px;
	font-size: 10px;
}
.header-simple {
	h1{
		.inf-links{
			font-size: 15px;
		}
	}
}
.inf-item {
	width: 100%;
	margin: 0 0 7px 0;

	a.inf-links {
		color: #248cec;
	}
}




/*
 -------------------------small news-------------------------
 */

.news {
width: 100%;
}

.news__box {
float: left;
width: 47%;
margin: 8px;
margin: 8px 1px 30px 16px;
}

.news__img {
float: left;
width: 40%;
height: 108px;
padding-top: 12px;
background: #ffffff url(../img/news_1.jpg) -107px 0 no-repeat;
font-family: Ubuntu, Arial, sans-serif;
font-size: 15px;
font-weight: 500;
line-height: 20px;
text-align: center;
text-decoration: none;
}

.news__img--sec {
background: #ffffff url(../img/news_2.jpg) 0 -15px no-repeat;
}

.news__month {
width: 25px;
margin-left: -10px;
font-size: 10px;
line-height: 25px;
color: #ffffff;
background-color: #248cec;
}

.news__date {
width: 25px;
margin-left: -10px;
font-size: 10px;
line-height: 25px;
color: #2a2d32;
background-color: #f4b60d;
}

.news__text {
width: 160px;
margin-left: 5px;
float: left;
}

.news__link {
display: block;
font-family: Ubuntu, Arial, sans-serif;
color: #2a2d32;
font-size: 11px;
font-weight: 500;
line-height: 20px;
text-decoration: none;
transition: color 0.3s;
&:hover {
color: #248cec;
}
}

.news__creator {
margin-bottom: 5px;
font-family: Ubuntu, Arial, sans-serif;
color: #8a8a8a;
font-size: 10px;
font-weight: 400;
line-height: 20px;
a {
color: #248cec;
text-decoration: none;
}
}

.news__desc {
height: 40px;
overflow: hidden;
font-family: Ubuntu, Arial, sans-serif;
color: #8a8a8a;
font-size: 11px;
font-weight: 400;
line-height: 13px;
}


/*
 -------------------------big news-------------------------
 */
.news__box-big {
	width: 540px;
	margin: 0 auto;
	margin-bottom: 30px;

	.news__img {
		float: left;
		width: 150px;
		height: 138px;
		padding-top: 12px;
		background: #ffffff url(../img/news_1.jpg) -107px 0 no-repeat;
		font-family: Ubuntu, Arial, sans-serif;
		font-size: 15px;
		font-weight: 500;
		line-height: 20px;
		text-align: center;
		text-decoration: none;
	}

	.news__img--sec {
		background: #ffffff url(../img/news_2.jpg) 0 -15px no-repeat;
	}
	.news__month {
		margin-left: -17px;
		width: 40px;
		line-height: 40px;
		color: #ffffff;
		background-color: #248cec;
	}

	.news__date {
		width: 40px;
		margin-left: -17px;
		line-height: 40px;
		color: #2a2d32;
		background-color: #f4b60d;
	}

	.news__text {
		width: 350px;
		margin-left: 30px;
		float: left;
	}

	.news__link {
		display: block;
		font-family: Ubuntu, Arial, sans-serif;
		color: #2a2d32;
		font-size: 16px;
		font-weight: 500;
		line-height: 30px;
		text-decoration: none;
		transition: color 0.3s;
		&:hover {
			color: #248cec;
		}
	}

	.news__creator {
		margin-bottom: 20px;
		font-family: Ubuntu, Arial, sans-serif;
		color: #8a8a8a;
		font-size: 13px;
		font-weight: 400;
		line-height: 15px;
		a {
			color: #248cec;
			text-decoration: none;
		}
	}

	.news__desc {
		height: 80px;
		overflow: hidden;
		font-family: Ubuntu, Arial, sans-serif;
		color: #8a8a8a;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
	}
}




/*----------------------------------------------end of news----------------------------------------------*/
