//colors
$color_celeste_approx: #ccc;
$color_zest_approx: #e67e22;
$white: #fff;
$color_karry_approx: antiquewhite;
$color_storm_dust_approx: #656565;
$black_55: rgba(0,0,0,0.55);
$color_tuna_approx: #35383c;
$color_stack_approx: #8a8a8a;
$color_allports_approx: #006daf;
$color_dodger_blue_approx: #248cec;
$color_azure_approx: #3b5998;
$color_california_approx: #f90;
$color_tapa_approx: #777;
$color_mercury_approx: #e7e7e7;
$color_sky_blue_approx: #73d3f7;
$color_alto_approx: #ddd;
$color_gallery_approx: #eee;
$color_island_spice_approx: #fffeee;
$color_reef_approx: #c8fc98;
$color_candy_corn_approx: #fde95e;
$color_cloud_approx: #c4c4c4;
$cornflower_blue: cornflowerblue;
$color_charade_approx: #2a2d32;
$color_buttercup_approx: #f4b60d;

//fonts
$font_0: "Open Sans Condensed";
$font_1: "sans-serif";
$font_2: "Arial";
$font_3: "Helvetica Neue";
$font_4: "Helvetica";
$font_5: "sans-serif";
$font_6: "Times New Roman";
$font_7: "Ubuntu";
$font_8: "Arial";
$font_9: "sans-serif";
$font_10: "Ubuntu";
$font_11: "Arial";
$font_12: "sans-serif";
$font_13: "Ubuntu";
$font_14: "Arial";
$font_15: "sans-serif";
$font_16: "Ubuntu";
$font_17: "Arial";
$font_18: "sans-serif";
$font_19: "Arial";

//urls
$url_0: url("../img/fon2.jpg");
$url_1: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAYAAAAPDoR2AAAALUlEQVQIW2P8/ZuhnnXSn7O/81iMGaAAxmdEloQJUlESZh+MBrkBbCe6Q2B8AJrNQsUrWkCyAAAAAElFTkSuQmCC		");
$url_2: url("../img/patern/stone1.png");
$url_3: url("../img/patern/seamless-stone-background.jpg");
$url_4: url("../img/patern/tileable_wood_texture.png");
$url_5: url("../img/Demydiv21.png");
$url_6: url("../img/vyshgorod-rayon.png");
$url_7: url("../img/news_1.jpg");
$url_8: url("../img/news_2.jpg");
$url_9: url("../img/contact_icons.png");

