*{
    margin: 0;
    padding: 0; /*обнуление всех стилей на странице*/
}

body{
    background: #f9f9f9;
    font-family: Tahoma, Arial, sans-serif;
}

.wrapper{
    margin: auto;
    padding: 0 48px 0 45px;
    width: 968px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
    box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
    
}

/* HEADER*/

.header{
    padding-top: 50px; 
    margin-bottom: 40px;
}
.menu{
    position: relative;/* Свойство придумано чтоб обрезать контен который выходит за рамки блоков*/
    overflow: hidden;/* Свойство придумано чтоб обрезать контен который выходит за рамки блоков, удобно использовать чтоб зачищать границы внутри блоков ; мы используем счтоб вернуть градиент после выравнивания его в линию*/
    margin-top: 40px;
    background: linear-gradient(0deg, #444343 0%, #5e5e5e 100%);
}
.menu li {
    list-style: none;/*убрали точки*/
    float: left;/*выровнять список в линию*/
    
    
}
.menu a{
    display: block;/*ссылка кликабельна по блоку, а не только текст; делает ссылку блочным елементом*/
    padding: 0 60px 0 25px;
    line-height: 40px;/*высота линии текста*/
    text-decoration: none;/*убираем подчеркивание ссылок*/
    font-size: 14.67px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;/*чтоб елемент был с фиксированым размером,чтоб ничего не менялось мы задаем что нужно но прозрачным*/
    
    
}
.menu a:hover{
    border-left: 1px solid #838383;/*теперь задаем не прозрачным*/
    border-right: 1px solid #838383;
    background:linear-gradient(0deg, #2e2e2e 0%, #4a4a4a 100%);
    

}

/*CONTENT*/
.content{
    position: relative;/* Свойство придумано чтоб обрезать контен который выходит за рамки блоков*/
    overflow: hidden;
}

.sidebar{
    float: left;/*выровнять сайдбар в лево*/
    width: 240px;
}

.sidebar-menu{
    border: 1px solid #c8c8c8;
}

.sidebar-menu li{
    border-top: 1px solid #c8c8c8;
}
.sidebar-menu li:first-child{
    border: none;
}

.sidebar-menu a{
    display: block;
    padding-left: 22px;/*отступ слева от текста*/
    line-height: 39px;/*высота пункта меню*/
    color: #656363;
    text-decoration: none;/*убираем подчеркивание ссылок*/
    transition: 0.2s all;
}

.sidebar-menu a:hover{
    padding-left: 35px;
    background: #f9f9f9;
}

.product{
    float: right;/*выровнять картинку в враво*/
    width: 680px;
}


.product-image{
    padding: 40px 0;
    border: 1px solid #c8c8c8;
    text-align: center;
}

.product-description{
    padding: 40px 29px 0 25px;
    font-size: 13.33px;
    color: #2c2b2b;
    line-height: 21.333px;
    
}

/*FOOTER*/

.footer{
    padding: 63px 0 60px;
    
}

.footer-menu{
    position: relative;/* Свойство придумано чтоб обрезать контен который выходит за рамки блоков*/
    overflow: hidden;
    background: #e1e1e1;

}
.footer-menu li{
    float: left;
    list-style: none;
    line-height: 40px;
        
}

.footer-menu .copirights{
    float: right;
    padding-right: 26px;
    font-size: 13.33px;
    color: #2c2c2c;
}

.footer-menu a{
    display: block;
    padding: 0 69px 0 25px;
    font-size: 13.33px;
    color: #2c2c2c;
    text-decoration: none;
    
}
.footer-menu a:hover{
    text-decoration: underline;
}
