*{margin:0;padding:0;}

li{
	list-style: none;
	margin-bottom: 20px;
}
a {
    color: #1a0dab;
    text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	color: #609;
}

.wrapper {
    position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    padding-top: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #666;
    border-color: #e5e5e5;
}
.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.logo {
    display: inline-block;
    padding: 5px 13px;
}

.logo__link {
    display: inline-block;
    width:95px;
    height:37px;
    position: relative;
    overflow: hidden;
}

.logo__image {
    position: absolute;
    left: 0;
    top: -41px;
}
form{
	display: inline-block;
	margin: 0 auto;
}

.search__input {
    float: left;
    width: 600px;
    height: 40px;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    padding: 5px 9px 0;
    border: 1px solid #ddd;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.search__button {
    float: left;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    outline: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #4285f4;
}

.search__button:hover {
    background-color: #3267C6;
}

.search__button__inner {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 7px auto;
    background: url(../img/logo.png) no-repeat -107px -55px;
    color: transparent;
}

.result {
	max-width: 600px;
    min-width: 512px;
    padding: 20px 0; 
    margin: 0 auto;
    margin-left: 120px;
	margin-top: 65px;
}

.page_nav_list{
	margin: 15px 0;
}
a.page-list {
	margin: 0 5px;
	text-decoration: none;
	color: #4285f4;
}
a.page-prev {
    margin-right: 30px;
    text-decoration: none;
    color: #4285f4;
}
a.page-next {
	margin-left: 30px;
	text-decoration: none;
	color: #4285f4;
}
.visibleURL {
    color: #006621;
}
.content{
	color: #545454;
}
a.active{
	color: #000;
	text-decoration: underline;
}