/*=================================FOOTER================================*/
.contacts {
	position: fixed;
	bottom: 0px;
	width: auto;
	background-color: #35383c;
	font-family: Arial;
	color: #8a8a8a;
	font-size: 12px;
	font-weight: 400;
	line-height: 40px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px
}

.contacts__adress {
	margin-right: 45px; }
.contacts__adress:before {
	content: "";
	display: inline-block;
	width: 13px;
	height: 16px;
	margin-bottom: -2px;
	margin-right: 10px;
	background: transparent url(../img/contact_icons.png) 0 0 no-repeat; }

.contacts__phone {
	margin-right: 45px; }
.contacts__phone:before {
	content: "";
	display: inline-block;
	width: 13px;
	height: 16px;
	margin-bottom: -2px;
	margin-right: 10px;
	background: transparent url(../img/contact_icons.png) -13px 0 no-repeat; }

.contacts__email {
	margin-right: 45px; }
.contacts__email:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 16px;
	margin-bottom: -3px;
	margin-right: 10px;
	background: transparent url(../img/contact_icons.png) -27px 0 no-repeat; }
