
.informers-layout {
	margin: 0 auto;
}
.inf-links {
	display: inline-block;
	width: 264px;
	height: 176px;
}
.inf-links img{
	display: inline-block;
	width: 264px;
	height: 176px;
}
.inf-item-glance{
	float: left;
	margin: 10px;
	padding-top: 5px;
	border: 1px solid #c4c4c4;
	width: 274px;
	height: 260px;
}
.inf-text-links{
	display: inline-block;
	width: 264px;
	margin-top: 10px;
	padding: 5px;
	text-align:center;
	font-size: 12px;
	font-weight: 600;
	color: #656565;
	text-decoration: none;
	border-top: 1px dashed #ccc;
}
.inf-date{
	display: inline-block;
	margin-top: 5px;
	text-decoration: overline;
	font-size: 10px;
	color: cornflowerblue;
	line-height: 10px;


}


/* для маленьких новостей
.news {
  width: 100%;
}
.news__box {
  float: left;
  width: 47%;
  margin: 8px;
  margin-bottom: 30px; }

.news__img {
  float: left;
  width: 40%;
  height: 108px;
  padding-top: 12px;
  background: #ffffff url(../img/news_1.jpg) -107px 0 no-repeat;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-decoration: none; }

.news__img--sec {
  background: #ffffff url(../img/news_2.jpg) 0 -15px no-repeat; }

.news__month {
  width: 25px;
  margin-left: -10px;
  font-size: 10px;
  line-height: 25px;
  color: #ffffff;
  background-color: #248cec; }

.news__date {
  width: 25px;
  margin-left: -10px;
  font-size: 10px;
  line-height: 25px;
  color: #2a2d32;
  background-color: #f4b60d; }

.news__text {
  width: 160px;
  margin-left: 5px;
  float: left; }

.news__link {
  display: block;
  font-family: Ubuntu, Arial, sans-serif;
  color: #2a2d32;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  transition: color 0.3s; }
  .news__link:hover {
    color: #248cec; }

.news__creator {
  margin-bottom: 5px;
  font-family: Ubuntu, Arial, sans-serif;
  color: #8a8a8a;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px; }
  .news__creator a {
    color: #248cec;
    text-decoration: none; }

.news__desc {
  height: 40px;
  overflow: hidden;
  font-family: Ubuntu, Arial, sans-serif;
  color: #8a8a8a;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px; }



*/


.news__box {
	width: 540px;
	margin: 0 auto;
  margin-bottom: 30px; }

.news__img {
  float: left;
  width: 150px;
  height: 138px;
  padding-top: 12px;
  background: #ffffff url(../img/news_1.jpg) -107px 0 no-repeat;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-decoration: none; }

.news__img--sec {
  background: #ffffff url(../img/news_2.jpg) 0 -15px no-repeat; }

.news__month {
  margin-left: -17px;
  width: 40px;
  line-height: 40px;
  color: #ffffff;
  background-color: #248cec; }

.news__date {
  width: 40px;
  margin-left: -17px;
  line-height: 40px;
  color: #2a2d32;
  background-color: #f4b60d; }

.news__text {
  width: 350px;
  margin-left: 30px;
  float: left; }

.news__link {
  display: block;
  font-family: Ubuntu, Arial, sans-serif;
  color: #2a2d32;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
  transition: color 0.3s; }
  .news__link:hover {
    color: #248cec; }

.news__creator {
  margin-bottom: 20px;
  font-family: Ubuntu, Arial, sans-serif;
  color: #8a8a8a;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px; }
  .news__creator a {
    color: #248cec;
    text-decoration: none; }

.news__desc {
  height: 80px;
  overflow: hidden;
  font-family: Ubuntu, Arial, sans-serif;
  color: #8a8a8a;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; }