.social {
	float: right;
	margin-top: 30px; }

.social__item {
	float: left;
	padding: 0 8px;
	cursor: pointer; }
.social__item svg {
	width: 20px;
	height: 20px;
	fill: #ccc;
	transition: fill 0.3s, width 0.3s, height 0.3s; }
.social__item:hover svg {
	width: 30px;
	height: 30px;
	fill: #248cec; }

.social__item--face:hover svg {
	fill: #3B5998; }

.social__item--rss:hover svg {
	fill: #F90; }

