*{
	margin: 0;
	padding: 0;
}

.wrapper{
	max-width: 960px;
	min-width: 320px;
	margin: 0 auto;
	
}
.clearfix:after {
    clear: both;        /* Сама очистка */
    display: block;     /* По умолчанию — display: inline */
    content: ".";       /* Предотвращение сложения полей */
    height: 0;          /* Устранение влияния текста */
    visibility: hidden; /* Скрытие текста */
}
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.header{
	padding-top: 70px;
	height: 445px;
	border-bottom: 1px solid #34263b;
	background: url(../img/bg_head.jpg) top center no-repeat;


}
.logo{
	margin: 0 auto;
	display: block;
	width: 152px;
	height: 39px;
	background: url(../img/bg-logo.png) 0 0 no-repeat;
}
.header a {
	display: block;
	text-decoration: none;
	color: #fff;
	text-align: center; 
	font: 400 24px/38px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}

.header a:hover { 
	color: #fff; 

}

/* menu-list */
.menu--modifi{
	display: none;
}
.header__menu {
	position: relative;
	width: 244px;
	margin: 18px auto;
	border: 1px solid transparent;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	z-index: 2;
}

.header__menu li {
	border-bottom: 1px solid #35273d;
	border-top : 1px solid #695272;
}

.header__menu a {
	font: 400 24px/38px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	text-align: center; 
	text-decoration: none;
	text-transform: uppercase;
    display: block;
	border-bottom: 2px solid transparent;
}

.header__menu li {
	position: relative;
	display: block
}

.absolute-menu {
	width: 244px;
	position: absolute;
	top: 100%;
	left: -1px;
	display: none;
	border: 1px solid #000;
	border-top: 1px solid #35273d;
}


.header__menu:hover{
	background-color: rgba(54, 41, 62, 0.8);
	border: 1px solid #000;
}

.header__menu:hover ul {
	overflow: hidden;
	background-color: rgba(54, 41, 62, 0.8);
	display: block;
	top: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.menu__home a {
    border-top: none;
    line-height: 51px;
    border-bottom: 2px solid transparent;
}

.menu__home:after {
	content: "";
	position: absolute;
	top: 40px;
	left: 98px;
	border: 1px solid #edbfff;
	width: 45px;
}

.header__menu a:hover {
   border-bottom: 2px solid #edbfff;
   background-color: rgba(34, 26, 39, 0.8);

}
.header__menu .menu__home a:hover {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}




/* end of menu-list */

.slider {
	width: 100%;
	padding-top: 115px;
/*	border: 1px solid #00f;*/
}
.slider__img{
	display: none;
}
.slider__bg{
	position: relative;
/*	border: 1px solid #f00;*/
	
}
.slider__header{
	position: relative;
	margin: 0 auto;
    display: block;
	width: 72%;
	height: 51px;
	text-align: center;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);

	
}
.slider__arrow {
    display: table;
    margin: auto;
}


.slider__arrow img{
	vertical-align:middle;
	text-align: center;
}
.slider__arrow--right{
    position: absolute;
    top: 50%;
    right: 0;
/*	right: -10px;*/
    bottom: 50%;
}
.slider__arrow--left{
    position: absolute;
    top: 50%;
    left: 0;
/*	left: -16px;*/
    bottom: 50%;
}

.slider__header h4{
	margin: 0 0 2px 0;
	width: 100%;
	color: #fefefe;
	font: 400 36px / 30px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
}
.slider__header span{
	margin: 0 auto;
	display: block;
	overflow: hidden;
	width: 203px;
    height: 24px;
	color: #edbfff;
	font: 400 18px / 24px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	text-transform: uppercase;
	letter-spacing: -0.1px;
}
.slider__header p {
	display: none;
}
.slider__circle{
/*	border: 1px solid #000;*/
	margin: 0 auto;
	margin-top: 80px;
	width: 87px;
	height: 18px;
}
.slider__circle li{
	float: left;
	overflow: hidden;
	padding-right: 4px;
	list-style: none;
/*	border: 1px solid #000;*/
	
}
.slider__circle li:last-child{
	padding-right: 0;
}
.slider__circle a{
	display: block;
	width: 18px;
	height: 18px;
	background: url(../img/circle_white.png) -20px -1px no-repeat;
}
.slider__circle .slider__circle__active{
	background: url(../img/circle_white.png) -20px -21px no-repeat;
	
}
.slider__circle a:hover{
	background: url(../img/circle_white.png) -20px -21px no-repeat;

}



/*--- END OF HEADER---*/


/*---SUB-HEADER---*/
.sub-header{
	position: relative;
	height: 596px;
	background: rgb(116,80,131);
	background: -moz-linear-gradient(top,  rgb(116,80,131) 0%, rgb(50,37,57) 100%);
	background: -webkit-linear-gradient(top,  rgb(116,80,131) 0%,rgb(50,37,57) 100%);
	background: linear-gradient(to bottom,  rgb(116,80,131) 0%,rgb(50,37,57) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 );
	border-bottom: 1px solid #21333b;
	-webkit-box-shadow: 0px 15px 16px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 15px 16px -16px rgba(0,0,0,0.75);
	box-shadow: 0px 15px 16px -16px rgba(0,0,0,0.75);
}
.sub-header__section{
	margin: 0 auto;
	overflow: hidden;
	padding-top: 71px;
	
}
.company-section{
	margin: 0 auto;
	position: relative;
	width: 260px;
	height: 134px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
/*	border: 1px solid #00f;*/
}

.company-section__img {
	position: absolute;
	top: 1px;
	left: 0px;
    width: 30px;
    height: 30px;
	background: url(../img/symbol.png) 0 0 no-repeat;
}
.company-section--one{
	padding-bottom: 23px;
}
.company-section--two{
	padding-bottom: 39px;
}
.company-section__article{
	margin-left: 26px;
	padding-left:  26px;
	
}
.company-section__link {
	display: block;
	width: 58px;
    margin: 20px 0 0 auto;
    color: #fff;
    font: 400 18px/14px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
    text-transform: uppercase;
	text-align: right;
    text-decoration: none;
}
.company-section__link:hover{
	-webkit-box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
	background: rgba(255, 255, 255, 0.52);
}
.company-section:hover .company-section__img {
	background: url(../img/symbol.png) 0 -29px no-repeat;
}

.company-section h3{
	margin: 0;
	color: #fff;
	font: 400 24px / 24px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
}

.company-section p{
	margin: 0;
	color: #ffffff;
	font: 300 16px / 24px 'Open Sans', sans-serif;
	overflow: hidden;
	width: 100%;
	height: 70px;
	padding-top: 3px;
}
	
/*---END OF SUB-HEADER---*/


/*---CONTENT---*/
.content{
	height: 786px;
	background: #f9f9f9;
	border-top: 1px solid #12191f;
	border-bottom: 1px solid #e6e6e6;
	z-index: -3;
}
.content__sections{
	margin: 0 auto;
	overflow: hidden;
	padding-top: 70px;
}
.content-section{
/*	border: 1px solid #000;*/
	position: relative;
	margin: 0 auto;
	margin-bottom: 52px;
	width: 285px;
	text-shadow: 1px 1px 0px #fff;
}
.content-section__slider {
	margin: 0 auto;
	position: relative;
	width: 181px;
	height: 212px;
	margin-left: 25px;
	padding: 27px 40px 33px 38px;
	background: #fff;
	border: 1px solid #f6f6f6;
/*	background: url(../img/content-img.png);*/
}
.content-section__header {
	position: relative;
	width: 86px;
	height: 45px;
	margin-top: 0;
	margin-bottom: 4px;
	color: #454545;
	font: 400 24px / 24px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	text-transform: uppercase;
	letter-spacing: -0.2px;

	
}
.content-section__slider:before {
	content: "";
	position: absolute;
	width: 50px;
	height: 51px;
	top: 18px;
	left: -23px;
	background: url(../img/slider_photo.png);

}

.content-section__slide_circle{
	margin: 0 auto;
	padding-top: 22px;
	width: 31%;
	height: 18px;
}
.content-section__slide_circle li{
	float: left;
	overflow: hidden;
	padding-right: 5px;
	list-style: none;
/*	border: 1px solid #000;*/
	
}
.content-section__slide_circle li:last-child{
	padding-right: 0;
}
.content-section__slide_circle a{
	display: block;
	width: 18px;
	height: 18px;
	background: url(../img/circle_white.png) 0 0 no-repeat;
}
.content-section__slide_circle .active{
	background: url(../img/circle_white.png) 0 -20px no-repeat;
	
}
.content-section__slide_circle a:hover{
	background: url(../img/circle_white.png) 0 -20px no-repeat;
}

.content-section__slider span{
	color: #edbfff;
	font: 400 24px / 24px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
}
.content-section h3{
	margin: 0;
	color: #454545;
	font: 400 30px / 24px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	
}
.content_section__link {
    display: block;
    text-decoration: none;
    color: #454545;
    font: 300 16px / 24px 'Open Sans', sans-serif;
}
.content-section__article1 h4,
.content-section__article2 h4,
.content-section__article3 h4{
	margin: 0;
	width: 153px;
	color: #454545;
    letter-spacing: 0.3px;
	white-space: nowrap;
	overflow: hidden;
}
.content-section__article1 p,
.content-section__article2 p,
.content-section__article3 p {
	margin: 0;
	width: 215px;
	color: #454545;
	white-space: nowrap;
	overflow: hidden;
}
.content-section__info {
	overflow: hidden;
	margin: 0;
	width: 178px;
	height: 167px;
	color: #454545;
	font: 300 16px / 24px 'Open Sans', sans-serif;
	white-space: normal;
   }
.content-section__article1{
	padding: 19px 0 0 68px;
}
.content-section__article2{
	padding: 17px 0 0 68px;
}
.content-section__article3{
	padding: 23px 0 0 68px;
}
.content-section__article1{
	background: url(../img/list_circle.png) 3px 19px no-repeat;
}
.content-section__article2{
	background: url(../img/list_circle2.png) 3px 17px no-repeat;
}
.content-section__article3{
	background: url(../img/list_circle3.png) 3px 20px no-repeat;
}
.content-section__more {
	display: block;
    width: 97px;
    margin: 15px 0 0 180px;
    color: #454545;
    font: 400 19px/24px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
    text-transform: uppercase;
	text-align: right;
    text-decoration: none;
	letter-spacing: -0.4px;

}
/*
.content .wrapper:before{
	content: "";
	position: absolute;
	width: 976px;
	height: 16px;
	background: url(../img/footer-shadow.png) top center no-repeat;
}
*/

/*---END OF CONTENT---*/
.sponsors{
	height: 422px;
	background: #f9f9f9;
	border: 1px solid #fefefe;
	border-bottom: 1px solid #21333b;
	-webkit-box-shadow: 0px 16px 16px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 16px 16px -16px rgba(0,0,0,0.75);
	box-shadow: 0px 16px 16px -16px rgba(0,0,0,0.75);
}
.sponsors .wrapper{
	padding-top: 53px;
}

.sponsors-logo{
	position: relative;
	overflow: hidden;
	width: 237px;
	margin: 0 auto;
	padding: 0;
}
.sponsors-logo li{
	float: left;
	list-style: none;
}
/*.sponsors-logo a*/
.sponsors-logo__item{
/*	border: 1px solid #000;*/
	display: block;
    width: 69px;
    height: 64px;
	background: url(../img/sprite_sponsors2.png) 0 0 no-repeat;
	
}
.sponsors-logo__item--modifi1{
	margin-left: 20px;
	
	
}
.sponsors-logo__item--modifi2{
    background-position: -71px 0px;
    width: 72px;
    margin-left: 55px;
}
.sponsors-logo__item--modifi3{
    background-position: -144px 0px;
    width: 65px;
    margin-top: 61px;
    margin-left: 28px;
}
.sponsors-logo__item--modifi4{
    background-position: -210px 0px;
    width: 51px;
    margin-top: 61px;
    margin-left: 64px;
}
.sponsors-logo__item--modifi5{
    background-position: -262px 0px;
    width: 103px;
    margin-top: 43px;
    margin-left: 1;
}
.sponsors-logo__item--modifi6{
    background-position: -367px 0px;
    width: 78px;
    margin-top: 41px;
    margin-left: 55px;
}
/*---END OF SPONSORS---*/

.news,
.news__categories_big{
	display: none;
	height: 666px;
	background: #ececec;
	border-bottom: 1px solid #21333b;
	-webkit-box-shadow: 0px 16px 16px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 16px 16px -16px rgba(0,0,0,0.75);
	box-shadow: 0px 16px 16px -16px rgba(0,0,0,0.75);
}
.news__categories{
	width: 440px;
	margin: 0 auto;
	padding-top: 81px;
}
.news__categories article{
	margin-bottom: 63px;
	text-shadow: 2px 1px 1px #fff;
}
.news__categories h3{
	margin-top: 0px;
	margin-bottom: 18px;
	color: #454444;
	font: 400 24px / 18px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	text-transform: uppercase;
}
.news__categories p{
	height: 89px;
	overflow: hidden;
	color: #787878;
	font: 300 16px / 22px 'Open Sans', sans-serif;
}
.news__categories .categories-three{
	margin-bottom: 88px;
}

/*---END of NEWS---*/



.footer{
	position: relative;
	height: 201px;
	background: url(../img/bg-footer.png) top center no-repeat;
	background-size: cover;
	z-index: -1;
}
.footer__section{
	margin: 0 auto;
}
.footer p{
	display: block;
	margin: 0 auto;
	padding-top: 30px;
	width: 140px;
	color: #ffffff;
	font: 300 12px / 34px 'Open Sans', sans-serif;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
}
.footer__menu{
	display: none;
	margin: 0 auto;
	width: 477px;
	padding-top: 46px;
}

.footer__menu-list, .footer__menu-list li {
	margin: 0;
	padding: 0;
}
.footer__menu-list {
	width: 474px;
	margin: 0 auto;

}
.footer__menu-list li {
	display: inline-block;
	text-align: center;
}
.footer__menu-list a {
	display: block;
	margin: 0px 10PX;
	padding: 3px 0px;
	color: #fff;
	font: 400 20px / 15px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;

}
.footer__menu-list a:hover {
	border-bottom: 2px solid #edbfff;
}


/*
.footer .wrapper:before{
	content: "";
	position: absolute;
	width: 976px;
	height: 16px;
	background: url(../img/footer-shadow.png) top center no-repeat;
}
*/

/*---END OF FOOTER---*/
/*---shadow---*/




/*---end of shadow---*/

