.informers-layout {
	margin: 0 auto;
}
.inf-links {
	display: inline-block;
	width: 264px;
	height: 176px;
	img {
		display: inline-block;
		width: 264px;
		height: 176px;
	}
}
.inf-item-glance {
	float: left;
	margin: 10px;
	padding-top: 5px;
	border: 1px solid $color_cloud_approx;
	width: 274px;
	height: 260px;
}
.inf-text-links {
	display: inline-block;
	width: 264px;
	margin-top: 10px;
	padding: 5px;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	color: $color_storm_dust_approx;
	text-decoration: none;
	border-top: 1px dashed $color_celeste_approx;
}