<!—-==========--========== START base ==========--==========-—>

<div class="base clearfix layout clearfix">
	<div class="columns clearfix">
		<div class="column" id="left">
			<div class="header-simple">
				<h2>
					<a class="inf-links" target="_blank" rel="nofollow" href="#" title="фото">Фотогалерея :</a>
				</h2>
			</div>
			<div class="sideGalleryBlock clearfix">
				<a id="gallery_hiden" href="#gallery_modal" class="clearfix" >
					<img src="img/fon1.jpg" width="100%" height="auto" alt="Фотографiї з життя с. Демидів" title="Фотографiї з життя с. Демидів">
					<p class="clearfix">Фотографiї з життя с. Демидів</p>
				</a>
			</div>
			<a class="holiday clearfix" href="http://www.dilovamova.com/"><img width="100%" height="auto" border="0" alt="Календар свят і подій. Листівки, вітання та побажання" title="Календар свят і подій. Листівки, вітання та побажання" src="http://www.dilovamova.com/images/wpi.cache/informer/informer_200_02.png"></a>

			<div class="view-banner-block clearfix">
				<a target="_blank" href="http://www.president.gov.ua"><img src="img/banner1_uk.jpg"></a>
				<a target="_blank" href="http://www.kmu.gov.ua"><img src="img/banner2_uk.jpg"></a>
				<a target="_blank" href="http://rada.gov.ua/"><img src="img/banner4_uk.jpg"></a>
			</div>

		</div>

		<div class="column" id="right">
			<div class="informers-layout clearfix">
				<div class="header-simple">
					<h2>
						<a class="inf-links" target="_blank" rel="nofollow" href="http://ukr.segodnya.ua" title="новини">Новини України :</a>
					</h2>
				</div>
				<div id="segodnya_ua_inner" class="clearfix">Загружается...</div>
				<div class="inf-item last-inf-item">
					<a class="i-left inf-links" target="_blank" rel="nofollow" href="http://ukr.segodnya.ua/allnews.html" title="усi новини">Усi новини</a>
					<a class="inf-links i-right" href="http://ukr.segodnya.ua" rel="nofollow" title="ukr.segodnya.ua">Ukr.Segodnya.ua</a>
					<div class="clr"></div>
				</div>
			</div>
			<script src="http://pogoda.meta.ua/get_informer/Kyivska/Vyshhorodskyi/Demydiv/?count_days=3&width=100%&height=auto&head_color=%23656565&text_color=%23696969&text_color2=%23595959&border_color=%23FFFFFF&head_bg_color=%23ffffff&backgroundTheme=auto&lang=ua&oe=UTF"></script>
			<script src="http://www.segodnya.ua/user/informers/e8606197a868cafcef86c11da7356d43.js"></script>

			<!-- Minfin.com.ua currency informer 180x120 yellow-->
			<div id="minfin-informer-m1Fn-currency">Загружаем <a href="http://minfin.com.ua/currency/" target="_blank">курсы валют от minfin.com.ua</a></div><script type="text/javascript">var iframe = '<ifra'+'me width="180" height="120" fram'+'eborder="0" src="http://informer.minfin.com.ua/gen/course/?color=yellow" vspace="0" scrolling="no" hspace="0" allowtransparency="true"style="width:100%;height:120px;ove'+'rflow:hidden;"></iframe>';var cl = 'minfin-informer-m1Fn-currency';document.getElementById(cl).innerHTML = iframe; </script><noscript><img src="http://informer.minfin.com.ua/gen/img.png" width="1" height="1" alt="minfin.com.ua: курсы валют" title="Курс валют" border="0" /></noscript>
		<!-- Minfin.com.ua currency informer 180x120 yellow-->

		</div>

		<div class="column clearfix" id="center">
			<div class="header-simple">
				<h2>
					<a class="inf-links" rel="nofollow" href="#" title="новини">Свіжі новини :</a>
				</h2>
			</div>
			<section id="news" class="news clearfix">
			</section>
			<!--NeWS-->
			<script id="news-template" type="text/x-handlebars-template">
				{{#each section}}
				<section class="news__box clearfix">
					{{#each newsImgdate}}
					<div class="news__img" style="background: url({{img}})0 no-repeat; background-size: cover;">
						<p class="news__month">{{month}}</p>
						<p class="news__date">{{day}}</p>
					</div>
					{{/each}}
					{{#each newsArticle}}
					<article class="news__text clearfix">
						<div class="news__link clearfix"><h4 class="{{alert}}" style="color: #656565;">{{title}}</h4></div>
						<a href="{{link}}" target="_blank"  class="news__creator clearfix" style="text-decoration: none;">автор&nbsp;:&nbsp;<span style="color: #248cec;">{{author}}</span></a>
						<div class="news__desc clearfix" style="text-overflow: ellipsis;"> {{paragraph1}}<a href="#" class="trigger-large" style="text-decoration: none; color:#9d9c9c; font-style:italic; background-color: white;" onmouseover="this.style.color = '#248cec';" onmouseout="this.style.color = 'red';">&nbsp;&hellip;&nbsp;більше</a></div>
						<div class="iziModal {{alert}} clearfix" data-izimodal-title="{{title}}" data-izimodal-subtitle="автор&nbsp;:&nbsp;{{author}}">
							<img class="clearfix" src="{{img}}" alt="картинка новости" style="float: left; margin: 0 25px 0 0;" width="240">
							<div class="iziModal_inner clearfix" style="margin: 0 0 16px 0; text-indent: 1.5em;">
								<p style="margin: 0 0 5px 0;">{{paragraph1}}</p>
								<p style="margin: 0 0 5px 0;">{{paragraph2}}</p>
								<p style="margin: 0 0 5px 0;">{{paragraph3}}</p>
							</div>
						</div>
					</article>
					{{/each}}
				</section>
				{{/each}}
							</script>
			<!--end of news-->
		</div>
	</div>
</div>

<!--==========--========== END base ==========--==========-->
