<!—-==========--========== START base ==========--==========-—>

<div class="base clearfix layout clearfix">
	<div class="columns clearfix">
		<div class="column" id="left">
			<div class="container clearfix">
				<div class="header-simple">
					<h2>
						<a class="inf-links" target="_blank" rel="nofollow" href="http://ukr.segodnya.ua" title="новини">Головне Меню :</a>
					</h2>
				</div>
				<nav>
					<ul class="mcd-menu">
						<li>
							<a href="" class="menu__link active">
								<i class="fa fa-home"></i>
								<strong>Головна</strong>
								<small>сторінка сайту</small>
							</a>
						</li>
						<li>
							<a href="" class="menu__link">
								<i class="fa fa-edit"></i>
								<strong>Історія</strong>
								<small>нашого села</small>
							</a>
						</li>
						<li>
							<a href="" class="menu__link">
								<i class="fa fa-globe"></i>
								<strong>Новини</strong>
								<small>села та світу</small>
							</a>
						</li>
						<li>
							<a href="" class="menu__link">
								<i class="fa fa-black-tie"></i>
								<strong>Про нас</strong>
								<small>діяльність с/р</small>
							</a>
							<ul>
								<li>
									<a href="#"><i class="fa fa-building"></i>Діяльність с/р</a>
									<ul>
										<li><a href="#"><i class="fa fa-pencil-square-o"></i>Рішення ради</a>
										</li>
										<li><a href="#"><i class="fa fa-pencil-square-o"></i>Рішення виконавчого комітету</a>
										</li>
										<li><a href="#"><i class="fa fa-pencil-square-o"></i>Розпорядження голови</a>
										</li>
										<li><a href="#"><i class="fa fa-pie-chart"></i>Бюджет села</a>
										</li>
										<li><a href="#"><i class="fa fa-map"></i>Генеральний план села</a>
										</li>
										<li><a href="#"><i class="fa fa-user-plus"></i>Вакансії</a>
										</li>
										<li><a href="#"><i class="fa fa-users"></i>Постійні депутатські комісії</a>
										</li>
									</ul>
								</li>

								<li>
									<a href="#"><i class="fa fa-group"></i>Наша команда</a>
									<ul>
										<li><a href="#"><i class="fa fa-male"></i>Сільськй голова</a>
											<ul>
												<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
												</li>
												<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#"><i class="fa fa-female"></i>Секретар</a>
											<ul>
												<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
												</li>
												<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
												</li>
											</ul>
										</li>
										<li><a href="#"><i class="fa fa-female"></i>Головний бухгалтер</a>
											<ul>
												<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
												</li>
												<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
												</li>
											</ul>
										</li>
										<li><a href="#"><i class="fa fa-male"></i>Спеціаліст</a>
											<ul>
												<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
												</li>
												<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
												</li>
											</ul>
										</li>
										<li><a href="#"><i class="fa fa-female"></i>Спеціаліст</a>
											<ul>
												<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
												</li>
												<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
												</li>
											</ul>
										</li>
										<li><a href="#"><i class="fa fa-male"></i>Спеціаліст I категорії</a>
											<ul>
												<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
												</li>
												<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
												</li>
											</ul>
										</li>
										<li><a href="#"><i class="fa fa-female"></i>Касир</a>
											<ul>
												<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
												</li>
												<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
												</li>
											</ul>
										</li>
										<li><a href="#"><i class="fa fa-female"></i>Інспектор ВОС</a>
											<ul>
												<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
												</li>
												<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
												</li>
											</ul>
										</li>
										<li><a href="#"><i class="fa fa-female"></i>Техпрацівник</a>
											<ul>
												<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
												</li>
												<li><a href="#"><i class="fa fa-clock-o"></i>Години праці</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="#"><i class="fa fa-wpforms"></i>Подати звернення</a>
								</li>
								<li><a href="#"><i class="fa fa-file-text-o"></i>Бланки документів</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="" class="menu__link">
								<i class="fa fa-comments-o"></i>
								<strong>Форум</strong>
								<small>оголошення</small>
							</a>
						</li>
						<li>
							<a href="" class="menu__link">
								<i class="fa fa-envelope-o"></i>
								<strong>Контакти</strong>
								<small>&nbsp;</small>
							</a>
						</li>
						<li class="float">
							<a class="search">
								<input type="text" value="search ...">
								<button><i class="fa fa-search"></i>
								</button>
							</a>
							<a href="" class="search-mobile">
								<i class="fa fa-search"></i>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<a class="holiday clearfix" href="http://www.dilovamova.com/"><img width="100%" height="auto" border="0" alt="Календар свят і подій. Листівки, вітання та побажання" title="Календар свят і подій. Листівки, вітання та побажання" src="http://www.dilovamova.com/images/wpi.cache/informer/informer_200_02.png"></a>

			<div class="view-banner-block clearfix">
				<a target="_blank" href="http://www.president.gov.ua"><img src="img/banner1_uk.jpg"></a>
				<a target="_blank" href="http://www.kmu.gov.ua"><img src="img/banner2_uk.jpg"></a>
				<a target="_blank" href="http://rada.gov.ua/"><img src="img/banner4_uk.jpg"></a>
			</div>

		</div>

		<div class="column" id="right">
			<div class="informers-layout clearfix">
				<div class="header-simple">
					<h2>
						<a class="inf-links" target="_blank" rel="nofollow" href="http://ukr.segodnya.ua" title="новини">Новини України :</a>
					</h2>
				</div>
				<div id="segodnya_ua_inner" class="clearfix">Загружается...</div>
				<div class="inf-item last-inf-item">
					<a class="i-left inf-links" target="_blank" rel="nofollow" href="http://ukr.segodnya.ua/allnews.html" title="усi новини">Усi новини</a>
					<a class="inf-links i-right" href="http://ukr.segodnya.ua" rel="nofollow" title="ukr.segodnya.ua">Ukr.Segodnya.ua</a>
					<div class="clr"></div>
				</div>
			</div>
			<script src="http://pogoda.meta.ua/get_informer/Kyivska/Vyshhorodskyi/Demydiv/?count_days=3&width=100%&height=auto&head_color=%23656565&text_color=%23696969&text_color2=%23595959&border_color=%23FFFFFF&head_bg_color=%23ffffff&backgroundTheme=auto&lang=ua&oe=UTF"></script>
			<script src="http://www.segodnya.ua/user/informers/e8606197a868cafcef86c11da7356d43.js"></script>
		</div>

		<div class="column clearfix" id="center">
			<div class="header-simple">
				<h2>
					<a class="inf-links" target="_blank" rel="nofollow" href="http://ukr.segodnya.ua" title="новини">Свіжі новини :</a>
				</h2>
			</div>
			<section class="news clearfix">
				<section class="news__box-big clearfix">
					<a href="#" class="news__img">
						<p class="news__month">Jan</p>
						<p class="news__date">23</p>
					</a>
					<article class="news__text clearfix">
						<a href="#" class="news__link clearfix"><h4>Advanced Machinery Helps Improve Quality</h4></a>
						<p class="news__creator">by <a href="#">cmsmasters</a> Comments (<a href="#">6</a>)</p>
						<p class="news__desc">Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
					</article>
				</section>
				<section class="news__box-big clearfix">
					<a href="#" class="news__img news__img--sec">
						<p class="news__month">Jan</p>
						<p class="news__date">21</p>
					</a>
					<article class="news__text clearfix">
						<a href="#" class="news__link clearfix"><h4>Powerful Techniques for Advanced Service</h4></a>
						<p class="news__creator">by <a href="#">cmsmasters</a> Comments (<a href="#">3</a>)</p>
						<p class="news__desc">Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
					</article>
				</section>
				<section class="news__box clearfix">
					<a href="#" class="news__img">
						<p class="news__month">Jan</p>
						<p class="news__date">23</p>
					</a>
					<article class="news__text clearfix">
						<a href="#" class="news__link clearfix"><h4>Advanced Machinery Helps Improve Quality</h4></a>
						<p class="news__creator">by <a href="#">cmsmasters</a> Comments (<a href="#">6</a>)</p>
						<p class="news__desc">Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
					</article>
				</section>
				<section class="news__box clearfix">
					<a href="#" class="news__img news__img--sec">
						<p class="news__month">Jan</p>
						<p class="news__date">21</p>
					</a>
					<article class="news__text clearfix">
						<a href="#" class="news__link clearfix"><h4>Powerful Techniques for Advanced Service</h4></a>
						<p class="news__creator">by <a href="#">cmsmasters</a> Comments (<a href="#">3</a>)</p>
						<p class="news__desc">Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
					</article>
				</section>
				<section class="news__box clearfix">
					<a href="#" class="news__img">
						<p class="news__month">Jan</p>
						<p class="news__date">23</p>
					</a>
					<article class="news__text clearfix">
						<a href="#" class="news__link clearfix"><h4>Advanced Machinery Helps Improve Quality</h4></a>
						<p class="news__creator">by <a href="#">cmsmasters</a> Comments (<a href="#">6</a>)</p>
						<p class="news__desc">Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
					</article>
				</section>
				<section class="news__box clearfix">
					<a href="#" class="news__img news__img--sec">
						<p class="news__month">Jan</p>
						<p class="news__date">21</p>
					</a>
					<article class="news__text clearfix">
						<a href="#" class="news__link clearfix"><h4>Powerful Techniques for Advanced Service</h4></a>
						<p class="news__creator">by <a href="#">cmsmasters</a> Comments (<a href="#">3</a>)</p>
						<p class="news__desc">Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
					</article>
				</section>
				<section class="news__box clearfix">
					<a href="#" class="news__img">
						<p class="news__month">Jan</p>
						<p class="news__date">23</p>
					</a>
					<article class="news__text clearfix">
						<a href="#" class="news__link clearfix"><h4>Advanced Machinery Helps Improve Quality</h4></a>
						<p class="news__creator">by <a href="#">cmsmasters</a> Comments (<a href="#">6</a>)</p>
						<p class="news__desc">Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
					</article>
				</section>
				<section class="news__box clearfix">
					<a href="#" class="news__img news__img--sec">
						<p class="news__month">Jan</p>
						<p class="news__date">21</p>
					</a>
					<article class="news__text clearfix">
						<a href="#" class="news__link clearfix"><h4>Powerful Techniques for Advanced Service</h4></a>
						<p class="news__creator">by <a href="#">cmsmasters</a> Comments (<a href="#">3</a>)</p>
						<p class="news__desc">Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
					</article>
				</section>
				<section class="news__box clearfix">
					<a href="#" class="news__img">
						<p class="news__month">Jan</p>
						<p class="news__date">23</p>
					</a>
					<article class="news__text clearfix">
						<a href="#" class="news__link clearfix"><h4>Advanced Machinery Helps Improve Quality</h4></a>
						<p class="news__creator">by <a href="#">cmsmasters</a> Comments (<a href="#">6</a>)</p>
						<p class="news__desc">Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
					</article>
				</section>
				<section class="news__box clearfix">
					<a href="#" class="news__img news__img--sec">
						<p class="news__month">Jan</p>
						<p class="news__date">21</p>
					</a>
					<article class="news__text clearfix">
						<a href="#" class="news__link clearfix"><h4>Powerful Techniques for Advanced Service</h4></a>
						<p class="news__creator">by <a href="#">cmsmasters</a> Comments (<a href="#">3</a>)</p>
						<p class="news__desc">Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
					</article>
				</section>
			</section>

		</div>
	</div>
</div>

<!--==========--========== END base ==========--==========-->
