<div class="container clearfix">
<nav>
	<ul class="mcd-menu">
		<li>
			<a href="" class="menu__link active">
				<i class="fa fa-home"></i>
				<strong>Головна</strong>
				<small>сторінка сайту</small>
			</a>
		</li>
		<li>
			<a href="" class="menu__link">
				<i class="fa fa-black-tie"></i>
				<strong>Про нас</strong>
				<small>діяльність с/р</small>
			</a>
			<ul>
				<li>
					<a href="#"><i class="fa fa-building"></i>Діяльність с/р</a>
					<ul>
						<li><a href="#"><i class="fa fa-pencil-square-o"></i>Рішення ради</a>
						</li>
						<li><a href="#"><i class="fa fa-pencil-square-o"></i>Рішення виконавчого комітету</a>
						</li>
						<li><a href="#"><i class="fa fa-pencil-square-o"></i>Розпорядження голови</a>
						</li>
						<li><a href="#"><i class="fa fa-pie-chart"></i>Бюджет села</a>
						</li>
						<li><a href="#"><i class="fa fa-map"></i>Генеральний план села</a>
						</li>
						<li><a href="#"><i class="fa fa-user-plus"></i>Вакансії</a>
						</li>
						<li><a href="#"><i class="fa fa-users"></i>Постійні депутатські комісії</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="#"><i class="fa fa-group"></i>Наша команда</a>
					<ul>
						<li><a href="#"><i class="fa fa-male"></i>Сільськй голова</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-female"></i>Секретар</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-female"></i>Головний бухгалтер</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-male"></i>Спеціаліст</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-female"></i>Спеціаліст</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-male"></i>Спеціаліст I категорії</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-female"></i>Касир</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-female"></i>Інспектор ВОС</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-female"></i>Техпрацівник</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години праці</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#"><i class="fa fa-wpforms"></i>Подати звернення</a>
				</li>
				<li><a href="#"><i class="fa fa-file-text-o"></i>Бланки документів</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="" class="menu__link">
				<i class="fa fa-edit"></i>
				<strong>Історія</strong>
				<small>нашого села</small>
			</a>
		</li>
		<li>
			<a href="" class="menu__link">
				<i class="fa fa-globe"></i>
				<strong>Новини</strong>
				<small>села та світу</small>
			</a>
		</li>
		<li>
			<a href="" class="menu__link">
				<i class="fa fa-comments-o"></i>
				<strong>Форум</strong>
				<small>оголошення</small>
			</a>
		</li>
		<li>
			<a href="" class="menu__link">
				<i class="fa fa-envelope-o"></i>
				<strong>Контакти</strong>
				<small>&nbsp;</small>
			</a>
		</li>
		<li class="float">
			<a class="search">
				<input type="text" value="search ...">
				<button><i class="fa fa-search"></i>
				</button>
			</a>
			<a href="" class="search-mobile">
				<i class="fa fa-search"></i>
			</a>
		</li>
	</ul>
</nav>
</div>
<!-- Insert to your webpage where you want to display the carousel -->
<div id="amazingcarousel-container-1">
	<div id="amazingcarousel-1" style="display:none;position:relative;width:100%;max-width:1120px;margin:0px auto 0px;">
		<div class="amazingcarousel-list-container">
			<ul class="amazingcarousel-list">
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/1-lightbox.jpg" title="Радгоспна контора (Обчислювальний Центр)
																" class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/1.jpg" data-description="Будівля радгоспної контори. Згодом, в 1975р. демонтували балкон і заложили двері.
Вхід зробили праворуч збоку та відкрили Обчислювальний Центр"><img src="img/1.jpg" alt="Радгоспна контора (Обчислювальний Центр)
								" /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>Радгоспна контора (Обчислювальний Центр)
							</cite>
							<blockquote>Будівля радгоспної контори. Згодом, в 1975р. демонтували балкон і заложили двері. Вхід зробили праворуч збоку та відкрили Обчислювальний Центр</blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/2-lightbox.jpg" title="Демидівський молокозавод" class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/2.jpg"><img src="img/2.jpg" alt="Демидівський молокозавод" /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>Демидівський молокозавод</cite>
							<blockquote></blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/3-lightbox.jpg" title="Демидівський засолзавод" class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/3.jpg"><img src="img/3.jpg" alt="Демидівський засолзавод" /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>Демидівський засолзавод</cite>
							<blockquote></blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/4-lightbox.jpg" title="Управління меліоративних систем" class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/4.jpg"><img src="img/4.jpg" alt="Управління меліоративних систем" /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>Управління меліоративних систем</cite>
							<blockquote></blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/5-lightbox.jpg" title="Колишній вїзд до радгоспу" class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/5.jpg" data-description="З лівої сторони колись була їдальня,зараз чотирьох поверховий будинок,з правої -  парк"><img src="img/5.jpg" alt="Колишній вїзд до радгоспу" /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>Колишній вїзд до радгоспу</cite>
							<blockquote>З лівої сторони колись була їдальня,зараз чотирьох поверховий будинок,з правої - парк</blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/6-lightbox.jpg" title="Будівництво Буднку Культури" class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/6.jpg"><img src="img/6.jpg" alt="Будівництво Буднку Культури" /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>Будівництво Буднку Культури</cite>
							<blockquote></blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/7-lightbox.jpg" title="Дорога до пожежної частини" class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/7.jpg" data-description="З правої сторони видніється добровільна пожежна частина радгоспу ім.Васильєва, зачатки парку, зліва радгоспна контора"><img src="img/7.jpg" alt="Дорога до пожежної частини" /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>Дорога до пожежної частини</cite>
							<blockquote>З правої сторони видніється добровільна пожежна частина радгоспу ім.Васильєва, зачатки парку, зліва радгоспна контора</blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/8-lightbox.jpg" title="Будівля сільської ради" class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/8.jpg"><img src="img/8.jpg" alt="Будівля сільської ради" /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>Будівля сільської ради</cite>
							<blockquote></blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/9-lightbox.jpg" title="Схема Демидова" class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/9.jpg" data-description="Малюнок, невідомого автора. Приблизно до 1954-1956 року Ірпінь мав три русла, через два з яких було побудовано мости."><img src="img/9.jpg" alt="Схема Демидова" /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>Схема Демидова</cite>
							<blockquote>Малюнок, невідомого автора. Приблизно до 1954-1956 року Ірпінь мав три русла, через два з яких було побудовано мости.</blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/10-lightbox.jpg" title="Демидівський &quot;Поділ&quot;
																 " class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/10.jpg" data-description="Ось так виглядав Демидів кілька десятиліть тому. Для тих, хто відразу не впізнав місце, підкажу - на протилежному боці дороги продуктовий магазин &quot;на низу&quot;, ГАЗ-51 стоїть на місці теперішньої зупинки в сторону Димера, а фото зроблено зі схилу біля старої школи. Також праворуч видно мазин який пізніше було розібрано."><img src="img/10.jpg" alt="Демидівський &quot;Поділ&quot;
								" /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>Демидівський &quot;Поділ&quot;
							</cite>
							<blockquote>Ось так виглядав Демидів кілька десятиліть тому. Для тих, хто відразу не впізнав місце, підкажу - на протилежному боці дороги продуктовий магазин &quot;на низу&quot;, ГАЗ-51 стоїть на місці теперішньої зупинки в сторону Димера, а фото зроблено зі схилу біля старої школи. Також праворуч видно мазин який пізніше було розібрано.</blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/11-lightbox.jpg" title="Першотравнева демонстрація 1930 року. " class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/11.jpg"><img src="img/11.jpg" alt="Першотравнева демонстрація 1930 року. " /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>Першотравнева демонстрація 1930 року. </cite>
							<blockquote></blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/12-lightbox.jpg" title="ПС Демидів\Демидівський РЕС." class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/12.jpg" data-description="Зараз на місці опор дитячий майданчик, а трансформатори перенесено в інше місце."><img src="img/12.jpg" alt="ПС Демидів\Демидівський РЕС." /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>ПС Демидів\Демидівський РЕС.</cite>
							<blockquote>Зараз на місці опор дитячий майданчик, а трансформатори перенесено в інше місце.</blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/13-lightbox.jpg" title="Будівля старої школи" class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/13.jpg"><img src="img/13.jpg" alt="Будівля старої школи" /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>Будівля старої школи</cite>
							<blockquote></blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/14-lightbox.jpg" title="Вулиця Комсомольська" class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/14.jpg" data-description="Світлину зроблено від будинку №54. 2 серпня 1957 р."><img src="img/14.jpg" alt="Вулиця Комсомольська" /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>Вулиця Комсомольська</cite>
							<blockquote>Світлину зроблено від будинку №54. 2 серпня 1957 р.</blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
				<li class="amazingcarousel-item">
					<div class="amazingcarousel-item-container">
						<div class="amazingcarousel-image">
							<a href="img/15-lightbox.jpg" title="Вулиця Комсомольська" class="html5lightbox" data-group="amazingcarousel-1" data-thumbnail="img/15.jpg" data-description="Напевно, одна з найстаріших світлин. Світлину зроблено з боку вулиці Річної, будинки 21, 23. 1933 рік."><img src="img/15.jpg" alt="Вулиця Комсомольська" /></a>
						</div>
						<div class="amazingcarousel-text">
							<cite>Вулиця Комсомольська</cite>
							<blockquote>Напевно, одна з найстаріших світлин. Світлину зроблено з боку вулиці Річної, будинки 21, 23. 1933 рік.</blockquote>
						</div>
						<div style="clear:both;"></div>
					</div>
				</li>
			</ul>
			<div class="amazingcarousel-prev"></div>
			<div class="amazingcarousel-next"></div>
		</div>
		<div class="amazingcarousel-nav"></div>
		<div class="amazingcarousel-engine"><a href="http://amazingcarousel.com">jQuery Image Scroller</a></div>
	</div>
</div>
<!-- End of body section HTML codes -->
