<!—-==========--========== START footer ==========--==========-—>
<footer class="contacts">
	<div class="contacts_wrap resize">
		<a href="https://www.google.com.ua/maps/@50.7299193,30.3257677,14.25z" class="contacts__adress" target="_blank">с. Демидів, вул. Фастова, 2</a>
		<span class="contacts__phone">Приймальня тел.: +38 (045-96) 33-242</span>
		<span class="contacts__email">demydivgov@in.ua</span>
		<span class="conatcts__copyrights">© 2016 ArtAlex</span>
	</div>
</footer>
<!--==========--========== END footer ==========--==========-->
