<!—-==========--========== START header ==========--==========-—>
<header class="header clearfix">
	<div class="date resize clearfix">
		<div id="daydisplay"></div>
		<div id="timedisplay"></div>
	</div>

	<!—-==========--========== START clock ==========--==========-—>
	<!--==========--========== END clock ==========--==========-->
	<a href="#" class="logo">
		<!--			<img class="logo" src="img/vyshgorod-rayon.png" alt="Герб - Вишгородський район">-->
	</a>
	<div class="slogan_1">
		<span>Демидівська сільська рада</span>
	</div>
	<div class="slogan_2">
		<span>Офіційний веб-сайт громади</span>
	</div>
	<ul class="social">
		<li class="social__item social__item--face">
			<a href="#" class="social__link">
				<svg>
					<use xlink:href="#face" />
				</svg>
			</a>
		</li>
		<li class="social__item">
			<a href="#" class="social__link">
				<svg>
					<use xlink:href="#twitter" />
				</svg>
			</a>
		</li>
		<li class="social__item social__item--rss">
			<a href="#" class="social__link">
				<svg>
					<use xlink:href="#rss" />
				</svg>
			</a>
		</li>
		<li class="social__item">
			<a href="#" class="social__link">
				<svg>
					<use xlink:href="#in" />
				</svg>
			</a>
		</li>
		<li class="social__item">
			<a href="#" class="social__link">
				<svg>
					<use xlink:href="#skype" />
				</svg>
			</a>
		</li>
	</ul>


</header>
<!--==========--========== END header ==========--==========-->
