<div class="container clearfix">
<nav>
	<ul class="mcd-menu">
		<li>
			<a href="" class="menu__link active">
				<i class="fa fa-home"></i>
				<strong>Головна</strong>
				<small>сторінка сайту</small>
			</a>
		</li>
		<li>
			<a href="" class="menu__link">
				<i class="fa fa-black-tie"></i>
				<strong>Про нас</strong>
				<small>діяльність с/р</small>
			</a>
			<ul>
				<li>
					<a href="#"><i class="fa fa-building"></i>Діяльність с/р</a>
					<ul>
						<li><a href="#"><i class="fa fa-pencil-square-o"></i>Рішення ради</a>
						</li>
						<li><a href="#"><i class="fa fa-pencil-square-o"></i>Рішення виконавчого комітету</a>
						</li>
						<li><a href="#"><i class="fa fa-pencil-square-o"></i>Розпорядження голови</a>
						</li>
						<li><a href="#"><i class="fa fa-pie-chart"></i>Бюджет села</a>
						</li>
						<li><a href="#"><i class="fa fa-map"></i>Генеральний план села</a>
						</li>
						<li><a href="#"><i class="fa fa-user-plus"></i>Вакансії</a>
						</li>
						<li><a href="#"><i class="fa fa-users"></i>Постійні депутатські комісії</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="#"><i class="fa fa-group"></i>Наша команда</a>
					<ul>
						<li><a href="#"><i class="fa fa-male"></i>Сільськй голова</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-female"></i>Секретар</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-female"></i>Головний бухгалтер</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-male"></i>Спеціаліст</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-female"></i>Спеціаліст</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-male"></i>Спеціаліст I категорії</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-female"></i>Касир</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-female"></i>Інспектор ВОС</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години прийому</a>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-female"></i>Техпрацівник</a>
							<ul>
								<li><a href="#"><i class="fa fa-leaf"></i>Біографія</a>
								</li>
								<li><a href="#"><i class="fa fa-clock-o"></i>Години праці</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#"><i class="fa fa-wpforms"></i>Подати звернення</a>
				</li>
				<li><a href="#"><i class="fa fa-file-text-o"></i>Бланки документів</a>
				</li>
			</ul>
		</li>
		<li>
			<a id="history_hidden" href="#animatedModal" class="menu__link">
				<i class="fa fa-edit"></i>
				<strong>Історія</strong>
				<small>нашого села</small>
			</a>
		</li>
		<li>
			<a href="" class="menu__link">
				<i class="fa fa-globe"></i>
				<strong>Новини</strong>
				<small>села та світу</small>
			</a>
		</li>
		<li>
			<a href="" class="menu__link">
				<i class="fa fa-comments-o"></i>
				<strong>Форум</strong>
				<small>оголошення</small>
			</a>
		</li>
		<li>
			<a href="" class="menu__link">
				<i class="fa fa-envelope-o"></i>
				<strong>Контакти</strong>
				<small>&nbsp;</small>
			</a>
		</li>
		<li class="float">
			<a class="search">
				<input type="text" value="search ...">
				<button><i class="fa fa-search"></i>
				</button>
			</a>
			<a href="" class="search-mobile">
				<i class="fa fa-search"></i>
			</a>
		</li>
	</ul>
</nav>
</div>

