@media (min-width: 480px){
	.wrapper{
		max-width: 480px;
	}
	.header{
		height: 478px;
	}
	.header a{
		line-height: 40px;
	}
	.menu--modifi{
		display: none;
	}
	.menu__list{
		margin-top: 23px;
		
	}
	.menu__active{
		height: 43px;
		padding-top: 3px;
	}
	.menu__active:after {
    	top: 40px;
	}

	.slider:before{
		content:"";
		position: absolute;
		top: 203px;
		left: 0px;
		width: 100%;
		height: 121px;
		padding-top: 125px;
		background: rgba(0, 0, 0, 0.47);
	}
	.slider__header {
		width: 480px;
		margin-top: 120px;
		padding-left: 32px;
	}
	
	.slider__header:before {
    	left: -12px;
	}
	.slider__header:after {
    	right: 36px;
	}
	.slider_img:after{
		content:"";
		position: absolute;
		top: -104px;
		left: 248px;
		width: 192px;
		height: 280px;
		background: url(../img/Iphone.png) 0 0 no-repeat;
		background-size: 192px 304px;
	}
	
	.slider__circle {
	    margin-top: 121px;
	}
	
	
/*---SUB-HEADER---*/
	.sub-header__section{
		padding-top: 77px;
	}
	.company-section {
	    width: 419px;
    	height: 128px;
	}
	.company-section--one{
		padding-bottom: 29px;
	}
	.company-section--two{
		padding-bottom: 33px;
	}
	.company-section__article{
		margin-left: 26px;
		padding-left:  26px;

}
	.company-section__link {
    	margin: 20px 0 0 315px;
	}
	
	
/*---CONTENT---*/
	
	
	.content-section {
/*    	border: 1px solid #000; */
    	width: 440px;
	}
	.content-section__slider {
		margin: 0 auto;
    	width: 346px;
    	height: 207px; 
		margin-left: 25px;
    	padding: 30px 32px 35px 38px;
	}
	.content-section__slider:before {
		left: -26px;
	}
	.content-section__header {
		margin-bottom: 18px;
    	width: 207px;
		height: 22px;
		font-size: 30px;

	}
	.content-section__slider span{
		font-size: 30px;
	}
	.content-section__info {
		width: 346px;
		height: 166px;
		
	}
	.content-section__slide_circle {
    	padding: 21px 0 0 17px;
	}
	.content-section h3,
	.content-section__article1,
	.content-section__article2,
	.content-section__article3 {
	    margin-left: 62px;
	}
	.content-section__article1 h4,
	.content-section__article2 h4,
	.content-section__article3 h4, 
	.content-section__article1 p,
	.content-section__article2 p,
	.content-section__article3 p {
	width: 257px;
	}
	.content-section__article3{
		padding-top: 20px;
	}

	.content-section__more {
    margin: 18px 0 0 305px;
	}
	
	
	
/*---SPONSORS---*/
	
	
	.sponsors {
		height: 230px;
	}
	.sponsors .wrapper {
		padding-top: 37px;
	}
	.sponsors-logo{
/*		border: 1px solid #000;*/
		width: 357px;
	}
	.sponsors-logo__item--modifi3{
		margin-top: 0;
		margin-left: 55px;
	}
	.sponsors-logo__item--modifi4{
    	margin-top: 25px;
    	margin-left: 5px;
	}
	.sponsors-logo__item--modifi5,
	.sponsors-logo__item--modifi6{
		margin-top: 26px;
		margin-left: 56px;
	}
	
	.news{
		display: block;
		height: 668px;
	}
	.news__categories {
    	padding-top: 82px;
	}
	.news__categories h3 {
    	margin-bottom: 15px;
	}
	.footer__menu{
		display: block;
	}
	.footer__menu-list a {
		margin: 0px 11px;
	}
	.footer p {
	    padding-top: 23px;
    	padding-left: 4px;
		

}
	
	
	
@media (min-width: 768px){
	.wrapper{
		max-width: 768px;
	}
	.header{
		height: 728px;
	}
	
	.header .logo{
		width: 731px;
		line-height: 40px;
	}
/*------MENU------*/
	.menu{
		display: none;
	}
	.menu--modifi{
		display: block;
		margin: 0;
		width: 652px;
		padding-top: 27px;
}

	.menu__list--modifi, .menu__list--modifi li {
		margin: 0;
		padding: 0;
	}
	.menu__list--modifi {
/*		max-width: 631px;*/

	}
	.menu__list--modifi li {
		display: inline-block;
		text-align: center;
	}
	.menu__list--modifi a {
		display: block;
    	margin: 0px 40px 0 8px;
		padding: 3px 0px;
		color: #fff;
		font: 400 24px / 33.724px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 2px solid transparent;

	}
	.menu__n5 a{
		margin-right: 0;
	}
	.menu__list--modifi a:hover {
		border-bottom: 2px solid #edbfff;
	}


/*------end of MENU------*/

	.slider{
		height: 400px;
		padding-top: 67px;
	}
	.slider:before{
		content:"";
		position: absolute;
		top: 244px;
		left: 0px;
		width: 100%;
		height: 400px;
		padding-top: 0px;
		background: rgba(0, 0, 0, 0.47);
	}
	.slider__header {
		width: 303px;
		height: 190px;
		margin-top: 103px;
		margin-left: 0px;
		padding-left: 32px;
	}
	.slider__header h4 {
		margin-bottom: 9px;
		font: 400 49px / 36px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
		letter-spacing: -0.5px;
	}
	.slider__header span{
		font: 400 24px / 36px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
		letter-spacing: -0.1px;
}
	.slider__header p {
		display: block;
		width: 272px;
		height: 115px;
		margin: 0;
		color: #ffffff;
		font: 300 16px / 28px 'Open Sans', sans-serif;
		overflow: hidden;
	}
	
	.slider__header:before {
		top: 76px;
		left: -16px;
	}
	.slider__header:after {
		top: 76px;
		right: -457px;
	}
	.slider_img:after{
		content:"";
		position: absolute;
		top: -125px;
		left: 436px;
		width: 274px;
		height: 437px;
		background: url(../img/Iphone2.png) 0 0 no-repeat;;
		background-size: 274px 434px;
	}
	.slider__circle {
		margin-top: 153px;
		padding-left: 396px;
	}
/*------end of SLIDER------*/
/*------end of HEADER------*/
	.sub-header {
    height: 340px;
	}
	.sub-header__section{
		padding-left: 19px;
	}
	.company-section{
		float: left;
		overflow: hidden;
		width: 205px;
    	height: 205px;
		margin-top: 0;
		margin-right: 47px;
	}
	.company-section--two{
		margin-right: 56px;
	}
	.company-section--three{
		margin-right: 0;
	}
	.company-section p {
    	height: 141px;
	}
	.company-section__link{
		margin-top: 13px;
		margin-left: 90px;
	}
/*------end of SUB-HEADER------*/
	
	.content{
		height: 485px;
	}
	.content__sections {
		padding-top: 100px;
	}
	.content-section:first-child{
		margin-right: 58px;
	}
	.content-section{
		float: left;
		overflow: hidden;
    	width: 345px;
	}
	.content-section__slider {
    	width: 246px;
		height: 209px;
		margin-left: 32px;
		padding-top: 27px;
		padding-left: 38px;
	}
	.content-section__slider:before {
		top: 17px;
		left: -25px;
	}
	.content-section__header{
	    margin-bottom: 12px;
		width: 85px;
		height: 45px;
		font-size: 24px;
		
	}
	.content-section__slider span {
    	font-size: 24px;
	}
	.content-section__info {
    	width: 100%;
		height: 145px;
	}
	.content-section__slide_circle {
    padding: 22px 0 0 35px;
	}
	
	.content-section h3, 
	.content-section__article1,
	.content-section__article2,
	.content-section__article3 {
    	margin-left: 0px;
		padding-left: 67px
	}
	
	.content-section__article1 {
    	background-position: 1px 19px;
		height: 52px
	}
	.content-section__article2 {
    	background-position: 1px 16px;
		height: 52px
	}
	.content-section__article3 {
    	background-position: 1px 13px;
		padding-top: 13px;
		height: 52px
	}
	.content-section h3{
		margin-top: 32px;
	}
	.content-section__more {
		margin-top: 14px;
    	margin-left: 232px;
	}

/*------end of CONTENT------*/
	
	.sponsors {
    	height: 118px;
	}
	.sponsors .wrapper {
    	padding-top: 25px;
	}
	.sponsors-logo {
    	width: 725px;
		height: 65px;
	}
	.sponsors-logo__item--modifi1 {
     margin-left: 0px; 
	}
	.sponsors-logo__item--modifi2 {
		margin-left: 54px;
	}
	.sponsors-logo__item--modifi3 {
		margin-left: 54px;
	}
	.sponsors-logo__item--modifi4,
	.sponsors-logo__item--modifi5 {
    	margin-top: 2px;
    	margin-left: 61px;
	}
	.sponsors-logo__item--modifi4 {
    	background-position: -209px 0px;
	}
	.sponsors-logo__item--modifi5 {
		background-position: -262px 0px;
	}
	.sponsors-logo__item--modifi6 {
		margin-top: 0;
		margin-left: 55px;
	}
	
/*------end of SPONSORS ------*/
	
	.news{
		display: block;
		height: 396px;
	}
	.news__categories {
    	width: 734px;
	    padding-top: 103px;
		overflow: hidden;
		}
	.news__categories article {
		float: left;
    	width: 205px;
		height: 210px;
		padding-top: 1px
	}
	.categories-one{
		margin-right: 61px;
	}
	.categories-two{
		margin-right: 58px;
	}
	.categories-three{
		margin-right: 0px;
	}
	.news__categories p {
    	height: 170px;
		line-height: 24px;
	}
	
/*------end of NEWS------*/
	.footer__menu{
		display: block;
    	width: 727px;
		padding-top: 41px;
	}
	.footer__menu-list{
		margin-left: 0;
    	width: 100%;
		
	}
	.footer__menu-list a {
		margin: 0px 19px;
		padding: 0;
		color: #ffffff;
		font: 400 20px / 33.724px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	}
	.footer__menu__n0 a{
		margin-left: 0;
	}
	.footer p {
		margin-left: 590px;
    	padding-top: 17px;
    	padding-left: 6px;
	}

	
	
@media (min-width: 960px) {
	.wrapper{
		max-width: 960px;
			
	}
	.header {
		height: 779px;
		padding-top: 67px;
	}
	.header .logo{
		float: left;
	    width: 151px;
		margin-left: -2px;
	}

	.logo{
		margin-left: -10px;
		margin-top: 3px;
	}
	.menu__active{
		display: none;
	}
	.menu--modifi{
		float: right;
		margin-right: -8px;
		padding-top: 0;
		
	}
	.menu__list{
		display: block;
		overflow: hidden;
	}
	.menu__list li{  /*отключаем все ненужные стили для нового масштаба*/
		list-style: none;
		background: none;
		float: left;
		margin: 0 50px 0 0;
		font: 400 24px/24px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
		text-transform: uppercase;
		text-decoration: none;
	}

/*------end of MENU------*/
	
	.slider {
    	padding-top: 208px;
	}
	.slider:before {
    	top: 278px;
	}
	.slider__header {
		width: 502px;
		height: 231px;
		margin-top: 92px;
		margin-left: -2px;
		padding-left: 0px;
}
	.slider__header h4 {
    	margin-bottom: 9px;
		width: 300px;
    	font: 400 60px / 36px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
		letter-spacing: -0.5px;
	}
		.slider__header span{
		font: 400 32px / 36px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
		letter-spacing: -0.1px;
}
	.slider__header p {
		width: 502px;
    	height: 150px;
		margin-top: 4px;
		font: 300 18px / 24px 'Open Sans', sans-serif;
	}
	.slider__header:before {
		top: 89px;
		left: -294px;
	}
	.slider__header:after {
		top: 89px;
		right: -779px;
	}
	.slider_img:after {
		top: -107px;
		left: 614px;
	}
	.slider__circle {
		margin-top: 173px;
		padding-left: 541px;
	}

/*------end of HEADER------*/
	.sub-header {
		height: 339px;
	}
	.sub-header__section {
		padding-top: 80px;
		padding-left: 0;
	}
	.company-section {
		float: left;
		overflow: hidden;
		width: 273px;
		height: 200px;
		margin-top: 0;
    	margin-right: 67px;
	}
	.company-section__article {
		margin-left: 30px;
		padding-left: 30px;
	}
	.company-section__img {
	    left: 7px;
	}
	.company-section__img--modifi2{
		left: 15px;
	}
	.company-section h3 {
		font: 400 30px / 24px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	}
	.company-section p {
		width: 223px;
		height: 118px;
		padding-top: 10px;
		font: 300 16px / 24px 'Open Sans', sans-serif;

	}
	.company-section__link {
		margin-top: 23px;
		margin-left: 158px;
	    font: 400 18px/14px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	}
	.company-section--two {
		margin-right: 57px;
	}
	.company-section__img--modifi1 {
		background: url(../img/symbol.png) -33px 0 no-repeat;
	}
	.company-section:hover .company-section__img--modifi1 {
		background: url(../img/symbol.png) -33px -29px no-repeat;
	}
	.company-section--three {
		margin-right: 0;
		padding-left: 7px;
	}
	.company-section__img--modifi2 {
		background: url(../img/symbol.png) -66px 0 no-repeat;
	}
	.company-section:hover  .company-section__img--modifi2 {
		background: url(../img/symbol.png) -66px -29px no-repeat;
	}
	
/*------end of SUB-HEADER------*/
	.content-section{
		width: 445px;
		
	}
	.content-section__slider {
    	margin-left: 23px;
		padding-top: 30px;
		padding-left: 38px;
		padding-bottom: 32px;
		width: 365px;
		height: 310;
	}
	.content-section__slider:before {
    	top: 14px;
	}
	.content-section__slider:after {
		content: ''; 
		position: absolute; /* Абсолютное позиционирование */
		left: 364px; 
		bottom: -20px; /* Положение треугольника */
		border: 10px solid transparent;	
		border-top: 10px solid white;  
		border-right: 10px solid white;
	   }
	.content-section__header {
		width: 207px;
		height: 22px;
		margin-bottom: 16px;
		padding-left: 0px;
		font: 400 30px / 24px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	}
	.content-section__slider span{
		color: #edbfff;
		font: 400 30px / 24px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	}
	.content-section__info{
		height: 170px;
		font: 300 16px / 24px 'Open Sans', sans-serif;
	}
	.content-section:first-child {
		margin-right: 57px;
	}
	.content-section__slide_circle {
		padding: 22px 0 0 22px;
	}
	.content-section h3{
		padding-left: 0;
	}
	.content-section__article2 {
    	padding: 14px 0 0 68px;
	}
	.content-section__more {
		margin-top: 16px;
		margin-left: 337px;
	}
	.content-section__article1 h4,
	.content-section__article2 h4,
	.content-section__article3 h4,
	.content-section__article1 p,
	.content-section__article2 p,
	.content-section__article3 p {
		width: 375px;
	}
/*------end of CONTENT------*/
	.sponsors-logo {
		width: 790px;
		padding-left: 15px;
	}
	.sponsors-logo__item--modifi2 {
		margin-left: 64px;
	}
	.sponsors-logo__item--modifi3 {
		margin-left: 64px;
	}
	.sponsors-logo__item--modifi4 {
    	margin-top: 0px;
		margin-left: 73px;
	}
	.sponsors-logo__item--modifi5 {
		margin-left: 68px;
	}
	.sponsors-logo__item--modifi6 {
		margin-left: 65px;
	}
/*------end of SPONSORS------*/
	.news__categories{
		display: none;
	}	
	.news__categories_big{
		display: block;
		height: 396px;
	}
	.news__categories_big {
    	width: 956px;
	    padding-top: 97px;
		overflow: hidden;
		}
	.news__categories_big article {
		float: left;
    	width: 277px;
		height: 202px;
		padding-top: 1px
	}
	.categories-one{
		margin-right: 62px;
	}
	.categories-one h3{
		margin-top: 3px;
		margin-left: 0px;
		margin-bottom: 18px;
		color: #454545;
		font: 400 48px / 33.724px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	}
	.categories-one .grey{
		color: #b9b9b9;
		font: 400 48px / 33.724px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	}
	.categories-one p{
		overflow: hidden;
		width: 277px;
		height: 115px;
		margin-top: 0;
		color: #787878;
		font: 300 16px / 24px 'Open Sans', sans-serif;
	}
	p.copyright{
		margin-top: 0px;
		margin-bottom: 6px;
		height: 24px;
		color: #c5c5c5;
		font: italic 16px / 24px Georgia;
	}
	.categories-two{
		margin-right: 63px;
	}
	.categories-two h3{
		margin-top: 1px;
		margin-bottom: 11px;
		color: #454444;
		font: 400 30px / 24px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	}
	.categories-two p{
		overflow: hidden;
		width: 277px;
		height: 165px;
		margin-top: 0;
		color: #787878;
		font: 300 16px / 24px 'Open Sans', sans-serif;
	}

	.categories-three{
		margin-right: 0px;
	}
	.categories-three h3{
		margin-top: 1px;
		margin-bottom: 11px;
		color: #454444;
		font: 400 30px / 24px 'League Gothic', Arial, "Helvetica Neue", Tahoma, sans-serif;
	}
	.categories-three p{
		overflow: hidden;
		width: 277px;
		height: 165px;
		margin-top: 0;
		color: #787878;
		font: 300 16px / 24px 'Open Sans', sans-serif;
	}
/*------end of NEWS------*/
	.footer__section {
		margin: 0 auto;
		overflow: hidden;
	}
	.footer__menu {
		float: left;
		overflow: hidden;
		width: 545px;
		margin-left: 0px;

	}
	.footer p{
		float: right;
		margin: 27px 0px 0 0;

	}
